# Zion Config Changes
CONFIG_INTERVAL_TREE=y
CONFIG_NR_CPUS=512
CONFIG_NODES_SHIFT=4
CONFIG_DRM=m
CONFIG_DRM_TTM_HELPER=m
CONFIG_X86_UV=y
CONFIG_X86_EXTENDED_PLATFORM=y
# Enable RNDIS_Host interface driver for firmware update
CONFIG_USB_NET_RNDIS_HOST=m
# Enable to support AMD drivers
CONFIG_BACKLIGHT_CLASS_DEVICE=m
# Zion 2S RDMA Config Changes
CONFIG_NET_VENDOR_MELLANOX=y
CONFIG_MLX5_CORE=y
CONFIG_MLX5_CORE_EN=y
CONFIG_MLX5_CORE_EN_DCB=y
CONFIG_MLX5_CORE_IPOIB=y
CONFIG_MLXFW=y
CONFIG_INFINIBAND=y
CONFIG_INFINIBAND_USER_MAD=m
CONFIG_INFINIBAND_USER_ACCESS=m
CONFIG_INFINIBAND_EXP_LEGACY_VERBS_NEW_UAPI=y
CONFIG_INFINIBAND_USER_MEM=y
CONFIG_INFINIBAND_ON_DEMAND_PAGING=y
CONFIG_INFINIBAND_ADDR_TRANS=y
CONFIG_INFINIBAND_ADDR_TRANS_CONFIGFS=y
CONFIG_INFINIBAND_MTHCA=m
CONFIG_INFINIBAND_MTHCA_DEBUG=y
CONFIG_MLX5_INFINIBAND=y
CONFIG_INFINIBAND_RDMAVT=m
CONFIG_RDMA_RXE=m
