CONFIG_DEFAULT_HOSTNAME="kdump-kernel-env"
CONFIG_LOG_BUF_SHIFT=18

# Override m->y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y

# Stuff we want to force off.
CONFIG_SMP=n
CONFIG_NET=n
CONFIG_UIO=n
CONFIG_DETECT_HUNG_TASK=n
CONFIG_FTRACE=n
CONFIG_MEMCG=n
CONFIG_EVENTFD=n
CONFIG_DEBUG_INFO=n
CONFIG_PERF_EVENTS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_PERF_EVENTS_AMD_POWER=n
CONFIG_CGROUPS=n
CONFIG_IKCONFIG=n
CONFIG_IKHEADERS=n
CONFIG_DEBUG_INFO=n
CONFIG_MODULES=n
CONFIG_KPROBES=n
CONFIG_VIRTUALIZATION=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_COMPACTION=n
CONFIG_MIGRATION=n
CONFIG_KSM=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_FRONTSWAP=n
CONFIG_CMA=n
CONFIG_MD=n
CONFIG_TORTURE_TEST=n
CONFIG_RCU_TORTURE_TEST=n
CONFIG_SCHED_DEBUG=n
CONFIG_SCHED_INFO=n
CONFIG_SCHEDSTATS=n
CONFIG_SECURITY=n
CONFIG_INTEGRITY=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_FAULT_INJECTION=n
CONFIG_CPU_FREQ=n
CONFIG_IA32_EMULATION=n
CONFIG_ENCLOSURE_SERVICES=n
CONFIG_HP_ILO=n
CONFIG_INTEL_MEI=n
CONFIG_IPMI_HANDLER=n
CONFIG_TCG_TPM=n
CONFIG_I2C=n
CONFIG_THERMAL=n
CONFIG_SOUND=n
CONFIG_HID=n
CONFIG_USB_SUPPORT=n

CONFIG_CONFIGFS_FS=n
CONFIG_EFIVAR_FS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_EDAC=n
CONFIG_DMA_ENGINE=n
CONFIG_INTEL_IOATDMA=n
CONFIG_SCSI_DEBUG=n
CONFIG_CRAMFS=n

CONFIG_ACPI_LPIT=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ACPI_AC=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_BUTTON=n
CONFIG_ACPI_FAN=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_THERMAL=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ACPI_HED=n
CONFIG_ACPI_APEI=n
CONFIG_ACPI_NFIT=n

CONFIG_NAMESPACES=n
CONFIG_VM_EVENT_COUNTERS=n

CONFIG_KEXEC=n

CONFIG_BLK_WBT=n

CONFIG_HOTPLUG_PCI=n

CONFIG_CHR_DEV_ST=n
CONFIG_BLK_DEV_SR=n
CONFIG_CHR_DEV_SG=n
CONFIG_CHR_DEV_SCH=n

CONFIG_SCSI_HPSA=n
CONFIG_MEGARAID_NEWGEN=n
CONFIG_MEGARAID_SAS=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_FUSION=n

CONFIG_VFIO=n

CONFIG_KALLSYMS=n
