CONFIG_DEFAULT_HOSTNAME="kdump-kernel-env"
CONFIG_LOG_BUF_SHIFT=18

# Override m->y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_MD=y

# Stuff we want to force off.
CONFIG_SMP=n
CONFIG_NET=n
CONFIG_UIO=n
CONFIG_FTRACE=n
CONFIG_MEMCG=n
CONFIG_EVENTFD=n
CONFIG_DEBUG_INFO=n
CONFIG_PERF_EVENTS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_PERF_EVENTS_AMD_POWER=n
CONFIG_CGROUPS=n
CONFIG_IKCONFIG=n
CONFIG_IKHEADERS=n
CONFIG_DEBUG_INFO=n
CONFIG_MODULES=n
CONFIG_KPROBES=n
CONFIG_VIRTUALIZATION=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_COMPACTION=n
CONFIG_MIGRATION=n
CONFIG_KSM=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_FRONTSWAP=n
CONFIG_CMA=n
CONFIG_TORTURE_TEST=n
CONFIG_RCU_TORTURE_TEST=n
CONFIG_SCHED_DEBUG=n
CONFIG_SCHED_INFO=n
CONFIG_SCHEDSTATS=n
CONFIG_SECURITY=n
CONFIG_INTEGRITY=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_FAULT_INJECTION=n
CONFIG_CPU_FREQ=n
CONFIG_IA32_EMULATION=n
CONFIG_ENCLOSURE_SERVICES=n
CONFIG_HP_ILO=n
CONFIG_INTEL_MEI=n
CONFIG_INTEL_MEI_TXE=n
CONFIG_IPMI_HANDLER=n
CONFIG_TCG_TPM=n
CONFIG_I2C=n
CONFIG_THERMAL=n
CONFIG_SOUND=n
CONFIG_HID=n
CONFIG_USB_SUPPORT=n
CONFIG_CONFIGFS_FS=n
CONFIG_EFIVAR_FS=n
CONFIG_OVERLAY_FS=n
CONFIG_FUSE_FS=n
CONFIG_ACPI_CONFIGFS=n
CONFIG_CONFIGFS_FS=n
CONFIG_FSNOTIFY=n
CONFIG_AUTOFS_FS=n
CONFIG_AUTOFS4_FS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_EDAC=n
CONFIG_DMA_ENGINE=n
CONFIG_INTEL_IOATDMA=n
CONFIG_SCSI_DEBUG=n
CONFIG_CRAMFS=n
CONFIG_ACPI_LPIT=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ACPI_AC=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_BUTTON=n
CONFIG_ACPI_FAN=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_THERMAL=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ACPI_HED=n
CONFIG_ACPI_APEI=n
CONFIG_ACPI_NFIT=n
CONFIG_NAMESPACES=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_KEXEC=n
CONFIG_BLK_WBT=n
CONFIG_HOTPLUG_PCI=n
CONFIG_CHR_DEV_ST=n
CONFIG_BLK_DEV_SR=n
CONFIG_BLK_DEV_NULL_BLK=n
CONFIG_CHR_DEV_SG=n
CONFIG_CHR_DEV_SCH=n
CONFIG_SCSI_HPSA=n
CONFIG_MEGARAID_NEWGEN=n
CONFIG_MEGARAID_SAS=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_FUSION=n
CONFIG_VFIO=n
CONFIG_BCM_VK=n
CONFIG_FW_LOADER=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_MICROCODE=n
CONFIG_SECCOMP=n
CONFIG_CDROM=n
CONFIG_CDROM_PKTCDVD=n
CONFIG_ISO9660_FS=n
CONFIG_IO_URING=n
CONFIG_USERFAULTFD=n
CONFIG_RSEQ=n
CONFIG_AIO=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_MEMBARRIER=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_KEYS=n
CONFIG_FS_VERITY=n
CONFIG_CRYPTO_RSA=n
CONFIG_ASN1=n
CONFIG_VIRTIO_BLK=n
CONFIG_SCSI_VIRTIO=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_BLK_MQ_VIRTIO=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_VIRTIO=n
CONFIG_VIRTIO_PCI=n
CONFIG_VIRTIO_MENU=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_VIRTIO_FS=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_BPF=n
CONFIG_BPF_SYSCALL=n
CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_CSD_LOCK_WAIT_DEBUG=n
CONFIG_SCF_TORTURE_TEST=n
CONFIG_TORTURE_TEST=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_XZ_DEC_IA64=n
CONFIG_XZ_DEC_ARM=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_STACKPROTECTOR=n
CONFIG_FSCACHE=n
CONFIG_DAX=n
CONFIG_DAX_DRIVER=n
CONFIG_FS_DAX=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_LIBNVDIMM=n
CONFIG_CRYPTO_AES_NI_INTEL=n
CONFIG_PCI_SW_SWITCHTEC=n
CONFIG_DETECT_HUNG_TASK=n
CONFIG_SPH=n
CONFIG_PCI_P2PDMA=n

# CONFIG_ACPI_TABLE_UPGRADE is not set
# CONFIG_DEBUG_INFO_BTF_MODULES is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_GPIOLIB is not set
# CONFIG_I2C_CHARDEV is not set
# CONFIG_IIO is not set
# CONFIG_INTEL_PCH_THERMAL is not set
# CONFIG_MAX1363 is not set
# CONFIG_MFD_SYSCON is not set
# CONFIG_MTD_CFI is not set
# CONFIG_PAHOLE_HAS_SPLIT_BTF is not set
# CONFIG_PMBUS is not set
# CONFIG_REGMAP is not set
# CONFIG_REGMAP_I2C is not set
# CONFIG_SENSORS_LM73 is not set
# CONFIG_SENSORS_LM90 is not set
# CONFIG_SENSORS_MAX6697 is not set
# CONFIG_SENSORS_PMBUS is not set
# CONFIG_SENSORS_UCD9000 is not set
# CONFIG_SERIAL_MCTRL_GPIO is not set
# CONFIG_W1 is not set
