# SPDX-License-Identifier: GPL-2.0-only

config DEBUG_NET
	bool "Add generic networking debug"
	depends on DEBUG_KERNEL
	help
	  Enable extra sanity checks in networking.
	  This is mostly used by fuzzers, but is safe to select.
